*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --primary-color: white;
  --cold-color: blue;
  --foggy-color: gray;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  background: linear-gradient(
    90deg,
    rgb(193, 181, 106) 0%,
    rgba(0, 228, 255, 1) 98%
  );
  /* background-image: url(./public/images/clearSkyBackground.jpg); */
  background-repeat: no-repeat;

  background-size: cover;
  font-family: "Merriweather", serif;
  font-style: italic;
}

/* title section */
.title-container {
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  align-items: center; /* Center items horizontally */
  margin-top: 5rem;
}

#title {
  color: black;
  margin: 0 auto;
  font-size: 4.5rem;
  margin-bottom: 3rem;
  background: var(--primary-color);
  padding: 1rem;
  border-radius: 2rem;
}
/* media for title */

@media only screen and (min-width: 1024px) {
  #title {
    font-size: 6rem;
    margin-bottom: 3rem;
    padding: 1rem 2rem;
  }
}

.weather-forecast-img {
  width: 12rem;
  height: auto;
  border-radius: 1rem;
  margin-bottom: 3rem;
}

/* media for  weather-forecast-img */
@media only screen and (min-width: 1024px) {
  .weather-forecast-img {
    width: 14rem;
    height: auto;
  }
}

#currentInfo {
  /* background: linear-gradient(
    135deg,
    rgb(224, 212, 98) 0%,
    rgb(119, 244, 138) 100%
  ); */
  border-radius: 3rem;
  padding: 2rem 2rem 0 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.3);
  background: var(--primary-color);
}

/* media for currentInfo */
@media only screen and (min-width: 1024px) {
  #currentInfo {
    width: 30rem;
    padding: 3rem 2rem 1rem 2rem;
  }
}

#currentLocation,
#currentLocationTemperature,
#currentTemperatureDescription {
  font-size: 3rem;
  color: black;
  margin-bottom: 2rem;
  text-align: center;
}

.currentLocationText {
  font-size: 2rem;
  text-align: center;
  color: black;
  margin-bottom: 2rem;
}

/* media for currentLocationData */
@media only screen and (min-width: 1024px) {
  .currentLocationText {
    font-size: 2.5rem;
  }

  #currentLocation,
  #currentLocationTemperature {
    font-size: 4rem;
  }
}

/* form */
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
}
/* media for form */
@media only screen and (min-width: 1024px) {
  .form {
    margin-top: 2rem;
  }
}

input[type="text"] {
  margin: 0 auto;
  max-width: 22rem;
  margin-bottom: 2rem;
  padding: 1rem;
  font-size: 2rem;
  border: none;
  border-radius: 5px;
}

@media only screen and (min-width: 1024px) {
  input[type="text"] {
    max-width: 70rem;
  }
}

#searchBtn {
  margin: 0 auto;
  padding: 1rem 2rem;
  font-size: 2rem;
  color: var(--cold-color);
  border-radius: 5px;
  background-color: rgb(246, 243, 240);
  font-family: "Merriweather", serif;
  font-style: italic;
  border: none;
  transition: color 0.3s, background-color 0.2s;
}

@media only screen and (min-width: 1024px) {
  #searchBtn:hover {
    cursor: pointer;
    color: orange;
  }
}

/* main container */
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--primary-color);
}

#chosenCity {
  text-align: center;
  font-size: 4rem;
}

#currentLocationImageContainer {
  text-align: center;
}

/* current time section */

#weather-info {
  visibility: hidden;
  display: flex;
  justify-content: center; /* Center the content horizontally */
  background: var(--primary-color);
  color: black;

  border-radius: 3rem;
  padding: 2rem 4rem;
  max-width: 28rem;
  margin: 0 auto;

  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 1024px) {
  #weather-info {
    height: 37rem;
  }
}

.weather-info-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Align items horizontally */
  text-align: center; /* Align text center */
}

.weather-info-searched-city {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.weather-info-location,
.weather-info-description,
.weather-info-temperature {
  font-size: 3rem;
  margin: 0.5rem 0;
}

/* img {
  width: 8rem;
} */

.weather-info-hourly-container {
  margin: 2rem auto;

  background: var(--primary-color);
  color: black;
  border-radius: 2.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1.8rem;
  flex-direction: column;
  padding: 2rem 1rem 0 1rem;
  visibility: hidden;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.3);
}
/* weather info hourly media */

@media only screen and (min-width: 1024px) {
  .weather-info-hourly-container {
    justify-content: flex-start; /* Align items to the left */
    align-items: flex-start; /* Align items to the top */
    margin-top: 0;
    max-width: 50rem;
    padding: 2rem 3rem 0 3rem;
    height: 37rem;
  }
}

.weather-info-hourly-data {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 1024px) {
  .weather-info-hourly-data {
    font-size: 2.5rem;
  }
}

.weather-info-hour-period {
  margin: 0 auto 2rem;
  font-size: 2.5rem;
}

/* weather info hour period media */
@media only screen and (min-width: 1024px) {
  .weather-info-hour-period {
    margin: 0 auto 3rem;
  }
}

.weather-info-hourly-description,
.weather-info-hourly-time,
.weather-info-hourly-temperature {
  margin-left: 1rem;
}

/* container + weather info section   */
@media only screen and (min-width: 1024px) {
  .container {
    width: 80rem;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }
}

/* weather 5 days */

.weather-info-daily-container {
  margin: 0 auto 2rem;
  background: var(--primary-color);
  color: black;
  border-radius: 2.5rem;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  flex-direction: column;
  padding: 2rem 1rem 2rem 1rem;
  visibility: hidden;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.3);
}

/* media for daily container */
@media only screen and (min-width: 1024px) {
  .weather-info-daily-container {
    margin-top: 2rem;
    padding: 2rem 6rem 0 9rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 2rem;
    margin-left: 5rem;
    max-width: 72rem;
    width: 100%; /* Add this line */
    flex-grow: 1; /* Add this line */
  }
}
/* option one */
/* .weather-info-daily-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 26rem;
  font-size: 2rem;
  margin-bottom: 2rem;
} */

/* option two */
.weather-info-daily-data {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 1024px) {
  .weather-info-daily-data {
    font-size: 3rem;
    margin-bottom: 2rem;
    border: 3px solid black;
    border-radius: 1rem;
    padding-right: 2rem;
  }
}

.weather-info-daily-period {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

@media only screen and (min-width: 1024px) {
  .weather-info-daily-period {
    margin: 0 auto 2rem;
    font-size: 3rem;
  }
}

.weather-info-daily-time,
.weather-info-daily-description,
.weather-info-daily-temperature {
  margin-left: 1rem;
}

@media only screen and (min-width: 1024px) {
  .weather-info-daily-description,
  .weather-info-daily-temperature {
    margin-left: 2rem;
  }

  .weather-info-daily-time {
    border-left: 3px solid black;
    padding-left: 2rem;
  }
}
