*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --primary-color: white;
  --hot-color: orange;
  --cold-color: blue;
  --foggy-color: gray;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  background: linear-gradient(
    90deg,
    rgba(84, 77, 198, 1) 0%,
    rgba(0, 228, 255, 1) 98%
  );
  font-family: "Merriweather", serif;
  font-style: italic;
}

/* title section */
.title-container {
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  align-items: center; /* Center items horizontally */
  margin-top: 5rem;
}

#title {
  color: var(--primary-color);
  margin: 0 auto;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.weather-forecast {
  width: 8rem;
  height: auto;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.main-container {
  border: 1px solid red;
}

/* form */
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 8rem;
}

.label-text {
  font-size: 2.7rem;
  margin: 0 auto;
  color: var(--primary-color);
  margin-bottom: 2rem;
}

input[type="text"] {
  margin: 0 auto;
  max-width: 22rem;
  margin-bottom: 2rem;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
}

#btn {
  margin: 0 auto;
  padding: 1rem 2rem;
  font-size: 2rem;
  color: var(--cold-color);
  border-radius: 5px;
  background-color: rgb(246, 243, 240);
  font-family: "Merriweather", serif;
  font-style: italic;
  border: none;
}

/* main container */
.main-container {
  color: var(--primary-color);
}

#chosenCity {
  text-align: center;
  font-size: 4rem;
}
/* current time section */

#current_time {
  display: flex;
  justify-content: center; /* Center the content horizontally */
}

.current_time-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Align items horizontally */
  text-align: center; /* Align text center */
}

.current_time-description,
.current_time-weather,
.current_time-temperature {
  font-size: 3rem;
  margin: 1rem 0;
}

.current_time-image {
  width: 50px;
  height: auto;
}
