*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  background: linear-gradient(to right, #a8deff, #2b6696);
  color: #333;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Merriweather", serif;
  font-style: italic;
}
