@import "./variables";

// .form {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   margin-bottom: 2rem;

//   @media only screen and (min-width: 1024px) {
//     margin-top: 2rem;
//   }
// }

input[type="text"] {
  margin: 0 auto;
  max-width: 22rem;
  margin-bottom: 2rem;
  padding: 1rem;
  font-size: 2rem;
  border: none;
  border-radius: 5px;
  @media only screen and (min-width: 1024px) {
    max-width: 70rem;
  }
}

#searchBtn {
  margin: 0 auto;
  padding: 1rem 2rem;
  font-size: 2rem;
  color: var(--cold-color);
  border-radius: 5px;
  background-color: rgb(246, 243, 240);
  font-family: "Merriweather", serif;
  font-style: italic;
  border: none;
  transition: color 0.3s, background-color 0.2s;
  @media only screen and (min-width: 1024px) {
    &:hover {
      cursor: pointer;
      color: orange;
    }
  }
}
