@import "./variables";

/* current time section */

#weather-info {
  visibility: hidden;
  display: flex;
  justify-content: center;
  background: $primary-color;
  color: $primary-black;
  border-radius: 3rem;
  padding: 2rem 4rem;
  max-width: 28rem;
  margin: 3rem auto;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);

  @media only screen and (min-width: 1024px) {
    height: 37rem;
  }

  .weather-info-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Align items horizontally */
    text-align: center; /* Align text center */

    .weather-info-searched-city {
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    .weather-info-location,
    .weather-info-description,
    .weather-info-temperature {
      font-size: 3rem;
      margin: 0.5rem 0;
    }
  }
}

.weather-info-hourly-container {
  margin: 2rem auto;
  background: $primary-color;
  color: $primary-black;
  border-radius: 2.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1.8rem;
  flex-direction: column;
  padding: 2rem 1rem 0 1rem;
  visibility: hidden;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);

  @media only screen and (min-width: 375px) {
    width: 35rem;
    padding: 2rem 1rem 0 2rem;
    margin-top: 3rem;
  }

  @media only screen and (min-width: 1024px) {
    justify-content: flex-start; /* Align items to the left */
    align-items: flex-start; /* Align items to the top */
    margin-top: 0;
    width: 45rem;
    padding: 2rem 3rem 0 4rem;
    height: 37rem;
    margin-top: 3rem;
  }

  .weather-info-hourly-data {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (min-width: 1024px) {
      font-size: 2.5rem;
    }
  }

  .weather-info-hour-period {
    margin: 0 auto 2rem;
    font-size: 2.5rem;

    @media only screen and (min-width: 1024px) {
      margin: 0 auto 3rem;
    }
  }

  .weather-info-hourly-description,
  .weather-info-hourly-time,
  .weather-info-hourly-temperature {
    margin-left: 1rem;
  }
}

/* container + weather info section   */
@media only screen and (min-width: 1024px) {
  .container {
    width: 80rem;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }
}
